<% if user_signed_in? %>
	<% @items.each do |item| %>
		<h2><%= link_to item.title, item %></h2>
		<p><%= item.description %></p>
		<%= link_to "Mark Complete", complete_item_path(item), method: :patch %>
		<%= link_to "Delete", item, method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>
<% else %>
	<%= render 'layouts/static_page' %>
<% end %>


